@charset "utf-8";

.starbg{ background:url(../images/resumeDetails/starbg.png) no-repeat; width:152px; height:22px;margin-left:124px;}
.starbg p{ background:url(../images/resumeDetails/staractive.png) no-repeat; height:22px; float:left;}

